<section>
	<h1>Crie sua conta de graça</h1>
	<from>
		<input type="text" placeholder="Username"></input>
		<input placeholder="E-mail"></input>
		<input type="password" placeholder="Senha"></input>
		<input type="password" placeholder="Confirmar Senha"></input>

		<button>Criar</button>

	</from>

</section>